.main {
  display: flex;
  gap: 1rem;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.img {
  position: relative;
  width: 600px;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(113, 113, 113, 0.363);
  overflow: hidden;

  /* filter: brightness(0.75); */
  transition: transform, filter;
  transition-duration: 0.3s;
}

.img:not(:hover) {
  transform: scale(0.975);
  filter: brightness(0.9) saturate(0.9);
}

.img::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: calc(9 / 16 * 100%);
}
.img::after {
  /* to clear float */
  content: "";
  display: table;
  clear: both;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
